<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 配置数据库方言dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- 指定自动生成数据表的策略 -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="cn.jxhun.pojo.YonghuEntity"/>
        <mapping class="cn.com.starshopping.pojo.CaozuorizhiEntity"/>
        <mapping class="cn.com.starshopping.pojo.DindanEntity"/>
        <mapping class="cn.com.starshopping.pojo.GouwucheEntity"/>
        <mapping class="cn.com.starshopping.pojo.HoutaicaozuorizhiEntity"/>
        <mapping class="cn.com.starshopping.pojo.KefudengluEntity"/>
        <mapping class="cn.com.starshopping.pojo.KehudengluEntity"/>
        <mapping class="cn.com.starshopping.pojo.LeixingguigexinxibiaoEntity"/>
        <mapping class="cn.com.starshopping.pojo.ShangpinxinxiEntity"/>
        <mapping class="cn.com.starshopping.pojo.ShouhuodizhiEntity"/>
        <mapping class="cn.com.starshopping.pojo.YonghuEntity"/>
        <mapping class="cn.com.starshopping.pojo.TestEntity"/>

    </session-factory>
</hibernate-configuration>
